
/* .div{
    background-color: blue;
    border: 15px solid orange;
    border-radius: 10px;
    padding: 30px;
    margin-right: 150px;
   width: 50px;

}
.div2{
    background-color:red;
    border: 15px solid blue;
    border-radius: 10px;
    padding: 30px;
    margin-left: 300px;
    margin-top:-120px;
    width: 50px;
}
.div3{
    background-color: brown;
    border: 15px solid gray;
    border-radius: 10px;
    padding: 30px;
    margin-top:40px;
    margin-left:159px;
    width: 50px;
}
.div4{
    background-color: darkorchid;
    border: 15px solid red;
    border-radius: 10px;
    padding: 30px;
    margin-top:50px;
    margin-left: 300px;
    width: 50px;

}
.div5{
    background-color: lightslategrey;
    border: 15px solid red;
    border-radius: 10px;
    padding: 30px;
    margin-top:-110px;
    margin-left:;
    width: 50px;

} */

.rec{
    
    border: 50px solid gray;
    border-radius:;
    border-top-right-radius: 100px ;
    border-top-left-radius: 100px ;
    margin-left: 50px;
     width: 20px;
    
}
.cir{
    border: 30px solid silver;
    border-radius: 20px;
    border-top-right-radius: 100px;
    margin-left: 120px;
    width: 250px;
    
}
.trl{
    border: 50px solid gray;
    border-radius:px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 57px ;

    width: 70px;
    
}

    
    .pad{
        border: 3px solid black;
        padding:2px ;
        width: 30px;
        margin-top: -230px;
        background-color: white;
        margin-left: 47px;
    }
    
    .pad1{
        border: 3px solid black;  
        padding:2px ; 
        width: 30px;
        background-color: rgb(240, 9, 9);
        margin-left: 47px;
    }
    
    .pad2{
        border: 3px solid black;
        padding:2px ; 
        width: 30px; 
        background-color: white;
        margin-left: 47px;
    }
    .pad3{
        border: 5px solid yellow;
        border-radius: px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        padding:2px ; 
        width: 2px; 
        background-color:red ;
        margin-left: 47px;
        margin-top: -22px;

        
    }
    .pad4{
        border: 4px solid;
        width: 10px;
        padding: 200px;
        margin-top: -140px;
        margin-left: 19px;
    }
    .rec1{
    border: 15px solid  ;
    background-color: rgb(27, 27, 27);
    border-radius: 100PX;
    box-shadow: 1px 5px 5px 5px white ;
    width: 100px;
    height: 350px;
    padding: 10px;
}
.crl1{
    border: 10px solid red;
    background-color: ;
    border-top-left-radius: 700px ;
    border-top-right-radius:700px ;
    border-bottom-left-radius:700px ;
    border-bottom-right-radius:700px ;
    padding: 40px ;
    margin-top: -380px ;
    margin-left: 2px;
    width: 1px;
}
.crl2{
    border: 10px solid yellow;
    background-color: ;
    border-top-left-radius: 700px ;
    border-top-right-radius:700px ;
    border-bottom-left-radius:700px ;
    border-bottom-right-radius:700px ;
    padding: 40px ;
    margin-top: 28px ;
    margin-left: 2px;
    width: 1px;
}
.crl3{
    border: 10px solid green;
    background-color: ;
    border-top-left-radius: 700px ;
    border-top-right-radius:700px ;
    border-bottom-left-radius:700px ;
    border-bottom-right-radius:700px ;
    padding: 40px ;
    margin-top: 35px ;
    margin-left: 2px;
    width: 1px;
}
.crl1:hover {
    background-color: red;
}
.crl2:hover {
    background-color: yellow;
}
.crl3:hover {
    background-color: green;
}
.flg1{
    border: 3px solid white; 
    background-color: orange;
    width: 250px;
    margin-left: px;
    margin-top: 100px;
    height: 60px;
   }
   .flg2{
    border: 3px solid white; 
    background-color: white;
    width: 250px;
    height: 60px;
    margin-left: px;
   }
   .flg3{
    border: 3px solid white;
    background-color:green ; 
    width: 250px;
    height: 60px;
    margin-left: 1px;
   }
   .flg4{
    border: 6px solid blue;
    
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-top:-133px ;
    margin-left: px;
    width: 60px;
    height: 60px;
   }
  .flg5{
   border: 3px solid white; 
    width:4px;
    height: 400px;
    background-color: black;
    margin-left: -250px;
    margin-top: -140px;
  
  
  }
  .flg6{
  border: 4px solid white;
  background-color: black;
    
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-top:-419px ;
  margin-left: -250px;
  width: 6px;
  height: 6px;
  }
  .flg7{
  border: 3px solid white; 
    background-color: brown;
    width: 50px;
    margin-left: -250px;
    margin-top: 350px;
    height: 30px;
  }
  
  .flg8{
  
    border: 3px solid white; 
    background-color: brown;
    width: 100px;
    margin-left:-250px;
    height: 30px;
  }
  
  .flg9{
  
    border: 3px solid white; 
    background-color: brown;
    width: 150px;
    margin-left: -250px;
   height: 30PX;
  }
  
   
   